<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "/", class: "nav-link" do %>
            <%= image_tag("list.svg") %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_cheatsheet_path, class: "nav-link" do %>
            <%= image_tag("new.svg") %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <%= image_tag("logout.svg") %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
</div>

