<div class="navbar navbar-light navbar-lewagon">
  <h1>&lt;&#47;Snippets&gt;</h1>
    <ul class="navbar-nav">
      <li class="nav-item index">
        <%= link_to "/", class: "nav-link" do %>
          <%= image_tag("list.svg") %>
        <% end %>
      </li>
      <li class="nav-item archives">
        <%= link_to archives_path, class: "nav-link" do %>
          <%= image_tag("archives.svg") %>
        <% end %>
      </li>
      <li class="nav-item new">
        <%= link_to new_snippet_path, class: "nav-link" do %>
          <%= image_tag("new.svg") %>
        <% end %>
      </li>
    </ul>
</div>

