<!DOCTYPE html>
<html>
  <head>
    <title>NiceForms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-3 content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
