<!DOCTYPE html>
<html>
  <head>
    <title>Rails CSS Checkboxes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body id="<%= params[:controller] %>_<%= params[:action] %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <main class="container">
      <div class="row">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
